!!!
%html{:lang => :en}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title Tex App.—Online
    %link{:rel => :stylesheet, :href => "/stylesheets/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "/stylesheets/bootstrap-responsive.min.css"}
    - if defined? d3
      %link{:rel => :stylesheet, :href => "/stylesheets/rickshaw.min.css"}
    %link{:rel => :stylesheet, :href => "/stylesheets/styles.css"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
              %a.brand.sc{:href => "/"} TexApp.org
          .nav.collapse.nav-collapse
            %ul.nav
              - links = {'<i class="icon-home"></i>' => '/', 'About' => '/about', "Citation" => "/citation", "Technology" => "/technology"}
              - links.each do |title, url|
                %li{class: request.path_info == url && 'active'}
                  %a{:href => url}!= title
          %form#search.navbar-search.pull-right{:method => :get, :action => "/search"}
            %input.search-query{:name => :query, :type => "text", :placeholder => "Search terms or Docket #"}
    .container
      = yield
      %hr
      %footer
        %span.pull-right
          &copy; Don Cruse &amp; Kyle Mitchell
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "/javascripts/bootstrap.min.js"}
    %script{:src => "/coffeescripts/interface.js"}
    - if defined? d3
      %script{ :src => '/javascripts/d3.min.js' }
      %script{ :src => '/javascripts/d3.layout.min.js' }
      %script{ :src => '/javascripts/rickshaw.min.js' }
    - if defined? js
      %script{ :src => js }
