.row
  .span12
    .page-header
      %h1
        Statistics
        %br
        %small New opinions over time
  %img#loading{:src => '/img/loading.gif'}
  #chartContainer.span12
    #y_axis
    #chart
    #legend
  %form#statsForm.form-horizontal{:action => '/statistics', :method => :get}
    .control-group
      %label.control-label From
      .controls
        .input-append.date{'data-date' => @from.strftime(VALUE_FORMAT), 'data-date-format' => DATA_FORMAT}
          %input.span2{:name => :from, :type => :text, :size => 16, :value => @from.strftime(VALUE_FORMAT)}
          %span.add-on
            %i.icon-th
    .control-group
      %label.control-label Through
      .controls
        .input-append.date{'data-date' => @through.strftime(VALUE_FORMAT), 'data-date-format' => DATA_FORMAT}
          %input.span2{:name => :through, :type => :text, :size => 16, :value => @through.strftime(VALUE_FORMAT)}
          %span.add-on
            %i.icon-th
    .control-group
      %label.control-label Courts
      .controls
        - (1..14).each do |court|
          %label.checkbox.inline
            %input{:type => :checkbox, :name => 'courts[]', :value => court, :checked => @courts.include?(court)}= court
    .control-group
      .controls
        %button.btn{:type => :submit} Show Statistics
