body {
  padding-top: 60px;
}

* {
  font-family: Times !important;
}

.sc {
  font-variant: small-caps !important;
}

/* statistics */

#loading {
  display: block;
  margin: auto;
}
#statsForm {
  display: none;
}
#chartContainer {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}
#chart {
  float: left;
}
#legend {
  float: left;
  margin-left: 15px;
}
#offset_form {
  float: left;
  margin: 2em 0 0 15px;
  font-size: 13px;
}
#y_axis {
  float: left;
  width: 40px;
}
